header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 75px;
}

p {
    font-size: 30px;
}

div {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    border-radius: 35%;
    border: 5px solid gold;
    margin: 250px;
}
button {
    display: block;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 10px;
}

#input-box {
    display: block;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
}