header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
}
h1 {
    font-size: 75px;
}

p {
    font-size: 30px;
}

/* div {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    border-radius: 35%;
    border: 5px solid gold;
    margin: 250px;
} */
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 10px;
    background-color: aquamarine;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gameBox {
    background-color: yellow;
}

.letters {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 10px;
    background-color: aqua;
    color: red;
}


/* #input-box {
    display: block;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
} */